---

- name: Gather package facts
  package_facts:
    manager: rpm

- name: Install ohpc-release package
  yum:
    name: "{{ openhpc_release_repo | default(ohpc_release_repos[ansible_distribution_major_version]) }}"
    state: present
    disable_gpg_check: True
  when: "'ohpc-release' not in ansible_facts.packages"

- name: Update package facts
  package_facts:
    manager: rpm

- name: Include variables for OpenHPC version
  include_vars:
    file: "ohpc-{{ ansible_facts.packages['ohpc-release'][0]['version'] }}"

- name: Find CentOS8 PowerTools repo
  find:
    paths: /etc/yum.repos.d
    patterns: CentOS-*PowerTools.repo
  register: powertools
  when: ansible_distribution_major_version == "8"

- name: Enable CentOS8 PowerTools repo
  # NB: doesn't run command  `dnf config-manager --set-enabled PowerTools` as can't make that idempotent
  lineinfile:
    path: "{{ powertools.files[0].path }}" # 8.2: /etc/yum.repos.d/CentOS-PowerTools.repo 8.3: /etc/yum.repos.d/CentOS-Linux-PowerTools.repo
    create: false # raises error if not already installed
    regexp: enabled=
    line: enabled=1
  when: ansible_distribution_major_version == "8"

- name: Build host-specific list of required slurm packages
  set_fact:
    openhpc_slurm_pkglist: "{{ openhpc_slurm_pkglist | default([]) + item.value }}"
  loop: "{{ ohpc_slurm_packages | dict2items }}"
  when: "openhpc_enable.get(item.key, false)"

- name: Install required slurm packages
  yum:
    name: "{{ openhpc_slurm_pkglist }}"
  when: openhpc_slurm_pkglist | default(false, true)

- name: Install packages from openhpc_packages variable
  yum:
    name: "{{ openhpc_packages }}"

...
