---
- name: Build host-specific list of required slurm packages
  set_fact:
    openhpc_slurm_pkglist: "{{ openhpc_slurm_pkglist | default([]) + item.value }}"
  loop: "{{ openhpc_slurm_packages | dict2items }}"
  when: "openhpc_enable.get(item.key, false)"

- name: Install required slurm packages
  yum:
    name: "{{ item }}"
  loop: "{{ openhpc_slurm_pkglist }}"

- name: Install packages from openhpc_packages variable
  yum:
    name: "{{ item }}"
  loop: "{{ openhpc_packages }}"
