---
- name: Fail if openhpc_slurm_control_host or openhpc_cluster_name or openhpc_slurm_partitions are undefined
  fail:
    msg: "Undefined openhpc_slurm_control_host or openhpc_cluster_name or openhpc_slurm_partitions."
  when:
    openhpc_slurm_control_host == none or
    openhpc_cluster_name == none or
    openhpc_slurm_partitions | length == 0

- name: Fail if configless mode selected when not on Centos 8
  fail:
    msg: "openhpc_slurm_configless = True requires Centos8 / OpenHPC v2"
  when: openhpc_slurm_configless and not ansible_distribution_major_version == "8"

- name: Ensure the Slurm spool directory exists
  file:
    path: /var/spool/slurm
    owner: slurm
    group: slurm
    mode: 0755
    state: directory

- name: Ensure the Munge service is enabled
  service:
    name: munge
    enabled: "{{ openhpc_slurm_service_enabled | bool }}"
  notify:
    - Restart Munge service

- name: Generate a Munge key for the platform
  command: "dd if=/dev/urandom of=/etc/munge/munge.key bs=1 count=1024"
  args:
    creates: "/etc/munge/munge.key"
  when: inventory_hostname == openhpc_slurm_control_host

- name: Retrieve Munge key from Slurm control host
  slurp:
    src: "/etc/munge/munge.key"
  register: slurm_munge_key
  when: inventory_hostname == openhpc_slurm_control_host

- name: Write Munge key
  copy:
    content: "{{ hostvars[openhpc_slurm_control_host]['slurm_munge_key']['content'] | b64decode }}"
    dest: "/etc/munge/munge.key"
    owner: munge
    group: munge
    mode: 0400
  notify:
    - Restart Munge service

- name: Ensure Slurm services are enabled
  service:
    name: "{{ openhpc_slurm_service }}"
    enabled: "{{ openhpc_slurm_service_enabled | bool }}"
  when: openhpc_slurm_service is not none
  notify:
    - Restart SLURM service

- name: Apply customised SLURM configuration
  template:
    src: slurm.conf.j2
    dest: /etc/slurm/slurm.conf
    owner: root
    group: root
    mode: 0644
  when: openhpc_enable.control or not openhpc_slurm_configless
  notify:
    - Restart SLURM service

- name: Set slurmctld location for configless operation
  lineinfile:
    path: /etc/sysconfig/slurmd
    line: "SLURMD_OPTIONS='--conf-server {{ openhpc_slurm_control_host }}'"
    regexp: "^SLURMD_OPTIONS="
    create: yes
  when: openhpc_enable.batch and openhpc_slurm_configless
  notify:
    - Restart SLURM service

- name: Flush handlers
  meta: flush_handlers

# Munge state could be unchanged but the service is not running.
# Handle that here.
- name: Ensure Munge services are enabled and started
  service:
    name: munge
    enabled: "{{ openhpc_slurm_service_enabled | bool }}"
    state: "{{ 'started' if openhpc_slurm_service_enabled | bool else 'stopped' }}"

# In case the service isn't running and the config hasn't changed to trigger
# the handler, ensure it's running here.
- name: Ensure Slurm services are running
  service:
    name: "{{ openhpc_slurm_service }}"
    state: "{{ 'started' if openhpc_slurm_service_enabled | bool else 'stopped' }}"
  when: openhpc_slurm_service is not none
