AutoDetect={{ openhpc_gres_autodetect }}
{% for nodegroup in openhpc_nodegroups %}
{%      set nodegroup_gres_autodetect = nodegroup.gres_autodetect | default('off') %}
{%      set inventory_group_name = openhpc_cluster_name ~ '_' ~ nodegroup.name %}
{%      set inventory_group_hosts = groups.get(inventory_group_name, []) %}
{%      set hostlist_string  = inventory_group_hosts | hostlist_expression | join(',') %}
{%      if nodegroup_gres_autodetect != 'off'  %}
NodeName={{ hostlist_string }} AutoDetect={{ nodegroup_gres_autodetect }}
{%      else %}
{%          for gres in nodegroup.gres | default([]) %}
{%              set gres_name, gres_type, _ = gres.conf.split(':') %}
NodeName={{ hostlist_string }} Name={{ gres_name }} Type={{ gres_type }}{% if openhpc_gres_autodetect == nodegroup_gres_autodetect == 'off' %} File={{ gres.file | mandatory('The gres configuration dictionary: ' ~  gres ~ ' is missing the file key, but gres_autodetect is not specified. The error occured on node group: ' ~  nodegroup.name ~ '. Please add the file key or set gres_autodetect.') }}{% endif %}
{%          endfor %}{# gres #}
{%      endif %}{# autodetect #}
{% endfor %}{# nodegroup #}
