AutoDetect=off
{% for nodegroup in openhpc_nodegroups %}
{%      for gres in nodegroup.gres | default([]) %}
{%          set gres_name, gres_type, _ = gres.conf.split(':') %}
{%          set inventory_group_name = openhpc_cluster_name ~ '_' ~ nodegroup.name %}
{%          set inventory_group_hosts = groups.get(inventory_group_name, []) %}
{%          for hostlist in (inventory_group_hosts | hostlist_expression) %}
NodeName={{ hostlist }} Name={{ gres_name }} Type={{ gres_type }} File={{ gres.file }}
{%          endfor %}{# hostlists #}
{%      endfor %}{# gres #}
{% endfor %}{# nodegroup #}
