AutoDetect=off
{% for part in openhpc_slurm_partitions %}
{%  set nodelist = [] %}
{%  set donehosts = set() %}
{%  for group in part.get('groups', [part]) %}
{%      if 'gres' in group %}
{%          set group_name = group.cluster_name|default(openhpc_cluster_name) ~ '_' ~ group.name %}
{%          set inventory_group_hosts = groups.get(group_name, []) %}
{%          set autodetect_mechanisms = inventory_group_hosts | group_by_gres_autodetect %}
{%          for mechanism, _mechanism_hosts in autodetect_mechanisms.items() %}
{%              set mechanism_hosts = _mechanism_hosts - donehosts %}
{%              if mechanism != 'disabled' %}
{%                  for hostlist in (mechanism_hosts | hostlist_expression) %}
NodeName={{ hostlist }} AutoDetect={{ mechanism }}

{%                  endfor %}
{%              else %}
{%                  for gres in group.gres %}
{%                      set gres_name, gres_type, _ = gres.conf.split(':') %}
{%                      for hostlist in (mechanism_hosts | hostlist_expression) %}
NodeName={{ hostlist }} Name={{ gres_name }} Type={{ gres_type }} File={{ gres.file }}

{%                      endfor %}
{%                  endfor %}
{%              endif %}
                {% set _ = donehosts.update(mechanism_hosts) %}
{%          endfor %}
{%      endif %}
{%  endfor %}
{% endfor %}
