{{ ansible_managed | comment }}
# Set openhpc_default_slurmdbd_config and openhpc_slurmdb_config to modify it.
# See the slurmdbd.conf man page for more information.

{% for key, val in openhpc_slurmdbd_merged_config.items() | sort %}
{% if val is not none and val != 'omit' %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val|string) }}
{% endif %}
{% endfor %}