---
name: CI
'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Rocky Linux 9 container image
    # Upstream rockylinux/rockylinux:9 images don't contain systemd, which means /sbin/init fails.
    # A workaround of using "/bin/bash -c 'dnf -y install systemd && /sbin/init'"
    # as the container command is flaky.
    # This job builds an image using the upstream rockylinux/rockylinux:9 image which ensures
    # that the image used for the molecule workflow is always updated.
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: molecule/images
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Build image
        run: podman build -t rocky9systemd:latest .

      - name: Save image
        run: podman save --output rocky9systemd.docker rocky9systemd:latest

      - name: Upload rocky9 image
        uses: actions/upload-artifact@v4
        with:
          name: rocky9systemd
          path: molecule/images/rocky9systemd.docker
    
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        image:
          - 'rockylinux/rockylinux:8'
          - 'localhost/rocky9systemd'
        scenario:
          - test1
          - test1b
          - test1c
          - test2
          - test3
          - test4
          - test6
          - test8
          - test9
          - test10
          - test11
          - test12
          - test13
        exclude:
          # mariadb package provides /usr/bin/mysql on RL8 which doesn't work with geerlingguy/mysql role
          - scenario: test4
            image: 'rockylinux/rockylinux:8'

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Download rocky9 container image
        uses: actions/download-artifact@v4
        with:
          name: rocky9systemd
          path: molecule/images/rocky9systemd.docker
        if: matrix.image == 'localhost/rocky9systemd'

      - name: Load rocky9 container image
        run: podman load --input rocky9systemd.docker/rocky9systemd.docker
        working-directory: molecule/images
        if: matrix.image == 'localhost/rocky9systemd'

      - name: Set up Python 3.
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install test dependencies.
        run: |
          pip3 install -U pip
          pip install -r molecule/requirements.txt
          ansible-galaxy collection install containers.podman:>=1.10.1 # otherwise get https://github.com/containers/ansible-podman-collections/issues/428

      - name: Display ansible version
        run:  ansible --version

      - name: Compensate for repo name being different to the role
        run: ln -s $(pwd) ../stackhpc.openhpc

      - name: Create ansible.cfg with correct roles_path
        run:  printf '[defaults]\nroles_path=../' >ansible.cfg

      - name: Enable the cpuset controller
        run: |
          echo "======== BEFORE ========"
          find /sys/fs/cgroup/ -name cgroup.subtree_control -exec grep -H '' '{}' ';'
          echo "==== CHANGING CPUSET ==="
          set -x
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/cgroup.subtree_control
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/user-1001.slice/cgroup.subtree_control
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/cgroup.subtree_control
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/session.slice/cgroup.subtree_control
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/user.slice/cgroup.subtree_control
          echo +cpuset | sudo tee  /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/app.slice/cgroup.subtree_control
          set +x
          echo "======= CHECKING ======="
          find /sys/fs/cgroup/ -name cgroup.subtree_control -exec grep -H '' '{}' ';'

      - name: Run Molecule tests.
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_IMAGE: ${{ matrix.image }}

  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install test dependencies.
        run: |
          pip3 install -U ansible ansible-lint
          ansible-galaxy collection install containers.podman:>=1.10.1 # otherwise get https://github.com/containers/ansible-podman-collections/issues/428

      - name: Display ansible version
        run:  ansible --version

      - name: Compensate for repo name being different to the role
        run: ln -s $(pwd) ../stackhpc.openhpc

      - name: Create ansible.cfg with correct roles_path
        run:  printf '[defaults]\nroles_path=../' >ansible.cfg

      - name: Run Ansible syntax check
        run:  ansible-playbook tests/test.yml -i tests/inventory --syntax-check

      - name: Run Ansible lint
        run:  ansible-lint .

      - name: Test custom filters
        run: ansible-playbook tests/filter.yml -i tests/inventory -i tests/inventory-mock-groups
